@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&family=Montserrat:wght@100;400;600;700;900&display=swap');

$font: 'Montserrat', sans-serif;
$blue-color: #2dc7d0;
$blue-hover:#26a69a;
$white-color: #fff;
$bg-color: #f5f5f5;
